{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<h1><strong>Questboards</strong></h1>


<div class="container">
    <div class="row">
        {% for questboard in questboards %}
        <div class="col-md-3">
            <div class="card card body">
                <a class="btn btn-primary  btn-sm btn-block" href=""> <strong>{{questboard.name}} </strong></a>
    
                <table class="table">
                    <td><strong>Description:</strong> {{questboard.description}}
                    </td>

                    <tr><td>stars: {{questboard.stars_int}} </td></tr>
                </table>
            </div>
            <form action="/questboard/{{questboard.id}}">
                <input class="btn btn-outline-primary" type="submit" value="enter">
            </form>
        </div>
        {% endfor %}
    </div>
</div>   
<form action="/addQB">
    <input type="submit" value="Add Questboard">
</form>
{% endblock %}

