{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<h1>{{qb.name}} Questboard <form action="/editName/{{qb.id}}" style="display: inline;"> <input type="submit" class="btn btn-sm btn-danger" value="edit" ></form></h1>
<h3>{{qb.description}} <form action="/editDescription/{{qb.id}}" style="display: inline;"> <input type="submit" class="btn btn-sm btn-danger" value="edit" ></form></h3>
<h3>Stars: {{qb.stars_int}} <form action="/editStars/{{qb.id}}" style="display: inline;"> <input type="submit" class="btn btn-sm btn-danger" value="edit" ></form></h3>
<hr>

<div class="container">
    <div class="row">
        {% for questcard in questboard %}
        <div class="col-md-3">
            <div class="card card body">
                <a class="btn btn-primary  btn-sm btn-block" href=""> <strong>{{questcard.name}}</strong></a> 

                    <table class="table" >
                        <td> <strong>Description:</strong> {{questcard.description}}</td>
                        {% if questcard.is_for_everyone %}
                            <tr><td><p>This quest is for everyone to do.</p></td></tr>
                        {% else %}
                            <tr><td>slot 1: <strong>{{questcard.person1}}</strong></td> </tr>
                            <tr><td>slot 2: <strong> {{questcard.person2}} </strong></td></tr>
                            <tr><td>slot 3: <strong> {{questcard.person3}} </strong></td></tr>
                            <tr><td>stars: {{questcard.stars_int}} </td></tr>
                        
                            <tr><td>
                            
                                {% if questcard.person3 is not None and questcard.person2 is not None and questcard.person1 is not None %}
                                    <strong>no slots available</strong> 
                                {% else %}
                                    <form action="/addPerson/{{questcard.id}}/{{questcard.questboard.id}}">
                                        <input class="btn btn-outline-primary" type="submit" value="sign-up">
                                    </form>
                                {% endif %}

                            </td></tr>
                        {% endif %}
                        {% if questcard.is_for_everyone %}
                            <tr><td>stars: {{questcard.stars_int}}</td></tr>
                        {% endif %}
                    </table>
            </div>
        </div>
        {% endfor %}
    </div>

    <form action="/addQC/{{qbid}}">
        <input type="submit" value="Add Questcard">
    </form>

</div>
{% endblock %}



